{% extends 'prasath/layouts/main.html' %}
{% block title %}
   contact page
{% endblock title %} 
 
{% block content %}
      <div class="container" style="margin-top:3%;">
         <div class="row">
         <div class="col-12">
         
            <hr style="border-color: #f50d0d;">
      </div>

   <div style="position: absolute;color: red;margin-top: 2%;font-size: 30px;font-weight: 500;width: 0;"><span>Contact</span></div>

   <div><span style="position: absolute; margin-left: 7%; margin-top: 5%;font-weight: 500;">HEAD OF THE DEPARTMENT</span>
   <div><span style="position: absolute;width: 0; margin-top:8%;margin-left: 20%;">Dr.Shashidhara</span>
   <div><span style="position: absolute;width: 0; margin-top:10.1%;margin-left: 20%;">Ph.d</span></div>
   <div><span style="position: absolute;width: 0; margin-top:12%;margin-left: 20%;">email.haridhamo3@gmail.com</span></div>

   <div><span style="position: absolute; margin-left: 7%; margin-top: 15%;font-weight: 500;"> ASSISTANT HEAD OF THE DEPARTMENT</span>
   <div><span style="position: absolute;width: 0; margin-top:17%;margin-left: 20%;">Dr.Shashidhara</span>
   <div><span style="position: absolute;width: 0; margin-top:19.1%;margin-left: 20%;">Ph.d</span></div>
   <div><span style="position: absolute;width: 0; margin-top:21%;margin-left: 20%;">email</span></div>
   
   <div style="margin-top: 11.5%;margin-left: 38%;position: absolute;">
      <a href="mailto:haridhamo3@gmail.com"> <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 48 48">
           <path fill="#4caf50" d="M45,16.2l-5,2.75l-5,4.75L35,40h7c1.657,0,3-1.343,3-3V16.2z"></path><path fill="#1e88e5" d="M3,16.2l3.614,1.71L13,23.7V40H6c-1.657,0-3-1.343-3-3V16.2z"></path><polygon fill="#e53935" points="35,11.2 24,19.45 13,11.2 12,17 13,23.7 24,31.95 35,23.7 36,17"></polygon><path fill="#c62828" d="M3,12.298V16.2l10,7.5V11.2L9.876,8.859C9.132,8.301,8.228,8,7.298,8h0C4.924,8,3,9.924,3,12.298z"></path><path fill="#fbc02d" d="M45,12.298V16.2l-10,7.5V11.2l3.124-2.341C38.868,8.301,39.772,8,40.702,8h0 C43.076,8,45,9.924,45,12.298z"></path>
           </svg></a>
   </div>

   <div style="margin-top: 20.5%;margin-left: 38%;position: absolute;">
      <a href="mailto:haridhamo3@gmail.com"> <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 48 48">
           <path fill="#4caf50" d="M45,16.2l-5,2.75l-5,4.75L35,40h7c1.657,0,3-1.343,3-3V16.2z"></path><path fill="#1e88e5" d="M3,16.2l3.614,1.71L13,23.7V40H6c-1.657,0-3-1.343-3-3V16.2z"></path><polygon fill="#e53935" points="35,11.2 24,19.45 13,11.2 12,17 13,23.7 24,31.95 35,23.7 36,17"></polygon><path fill="#c62828" d="M3,12.298V16.2l10,7.5V11.2L9.876,8.859C9.132,8.301,8.228,8,7.298,8h0C4.924,8,3,9.924,3,12.298z"></path><path fill="#fbc02d" d="M45,12.298V16.2l-10,7.5V11.2l3.124-2.341C38.868,8.301,39.772,8,40.702,8h0 C43.076,8,45,9.924,45,12.298z"></path>
           </svg></a>
   </div>
  
                     

{% endblock content %}