<nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-center">
    <div class="container">
      <a class="navbar-brand" href="#" style="color: red;font-weight: bolder;"><h1 style="font-size: 100%;position: absolute;margin-top: 1%;margin-left: 3%;">MCA FEST</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> 
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto ">
          <a  style="color: red;margin-top: 0.3%;margin-left: -55%;position: absolute;font-weight: bold;font-size: 120%;" class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          <a  style="color: red;margin-top: 0.3%;margin-left: -45%;position: absolute;font-weight: bold;font-size: 120%;" class="nav-link" href="{% url 'event' %}">Event</a>
          <a  style="color: red;margin-top: 0.3%;margin-left: -35%;position: absolute;font-weight: bold;font-size: 120%;" class="nav-link" href="{% url 'staff' %}">Staff</a>
          <a  style="color: red;margin-top: 0.3%;margin-left: -25%;position: absolute;font-weight: bold;font-size: 120%;" class="nav-link" href="{% url 'about' %}">About</a>
          <a  style="color: red;margin-top: 0.3%;margin-left: -15%;position: absolute;font-weight: bold;font-size: 120%;" class="nav-link" href="{% url 'contact' %}">Contact</a>
          
                 </div>
      </div>
    </div>
  </nav>



